<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAA228uuE6rkJIHkcwoLBdU9Xt_T132YuA</string>
	<key>GCM_SENDER_ID</key>
	<string>1043839855571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saessak.appProject</string>
	<key>PROJECT_ID</key>
	<string>al-lok-dal-lok</string>
	<key>STORAGE_BUCKET</key>
	<string>al-lok-dal-lok.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043839855571:ios:4337f3e8702da84c8e9d26</string>
</dict>
</plist>